<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>

<div class="entry">
     <div class="panel panel-default">
        <div class="panel-heading"><span class="calendar">This Year:</span> New Account Development</div>
        <%= line_chart @clients_months, { "discrete": true } %>
    </div>
</div>