<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>
<h1><%= t(:dashboard) %></h1>
<div class="entry">
     <div class="panel panel-default">
        <div class="panel-heading"><span class="calendar">t(:this_year):</span> <%= t(:new_account_development) %> </div>
        <%= line_chart @clients_months, {
            "library": { 
                "chart": {
                    "zoomType": "x"
                },
                "legend": {
                    "position": "top"
                },
                "hAxis": {
                    "title": t(:date)
                },
                "vAxis": {
                    "title": t(:new_clients)
                }
            },
            "discrete": true
        } %>
    </div>
</div>